USE [LYCEUM]
GO
/****** Object:  StoredProcedure [dbo].[Relat_NG_HistoricoEnsFundamental]    Script Date: 28/04/2022 16:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Relat_NG_HistoricoEnsFundamental]
(
	@p_aluno AS T_CODIGO
)


AS
BEGIN

DECLARE @p_tipo varchar(8) 
SET @p_tipo = 'COL'

-- DROP TABLE #HIST
CREATE TABLE #HIST (
ALUNO_CODIGO VARCHAR(200),
ALUNO_NOME VARCHAR(200),
DT_NASC DATETIME,
MUNIC_NASC VARCHAR(200),
UF_NASC VARCHAR(200),
NACIONALIDADE  VARCHAR(200),
NOME_PAI VARCHAR(200),
NOME_MAE VARCHAR(200),
SIT_ALUNO VARCHAR(200),
DISCIPLINA VARCHAR(200),
DISCIPLINA_NOME VARCHAR(200),
AREA_CONHECIMENTO VARCHAR(200),
CURSO VARCHAR(200),
UNIDADE VARCHAR(200),
UNIDADE_MUN VARCHAR(200),
UNIDADE_UF VARCHAR(4),
TURNO VARCHAR(200),
CURRICULO VARCHAR(200),
SERIE VARCHAR(200),
ANO VARCHAR(200),
DIAS_LETIVOS VARCHAR(200),
NOTA_FINAL VARCHAR(200),
FALTAS_ACUMULADAS VARCHAR(200),
HORAS_AULA INT,
SIT_MATGRADE VARCHAR(20)
)
INSERT INTO #HIST
SELECT DISTINCT A.ALUNO AS ALUNO_CODIGO, 
	A.NOME_COMPL AS ALUNO_NOME, 
	P.DT_NASC, 
	MU.NOME AS MUNIC_NASC, MU.UF_SIGLA AS UF_NASC, P.NACIONALIDADE,
	P.NOME_PAI, P.NOME_MAE,A.SIT_ALUNO,
	D.DISCIPLINA, D.NOME AS DISCIPLINA_NOME, D.AREA_CONHECIMENTO,
	GS.CURSO,
	I.NOME_COMP,
	UM.NOME,
	UM.UF_SIGLA,
	GS.TURNO, GS.CURRICULO, GS.SERIE, GS.ANO,
	PL.DIAS_LETIVOS, 
	M.CONCEITO_FIM AS NOTA_FINAL, 
	dbo.fnRelatFaltasBoletim_NewHist(A.ALUNO, T.DISCIPLINA, T.TURMA, T.ANO, T.SEMESTRE, null, M.SUBTURMA1, M.SUBTURMA2) AS FALTAS_ACUMULADAS,
	D.HORAS_AULA,
	CASE 
		WHEN MG.SIT_MATGRADE = 'Aprovado' THEN 'Aprovado'
		WHEN MG.SIT_MATGRADE = 'Matriculado' THEN 'Cursando'
		WHEN MG.SIT_MATGRADE = 'Transf.Internamente' THEN 'Transf.Internamente'
		WHEN MG.SIT_MATGRADE = 'Remanejado' THEN 'Remanejado.'
		WHEN MG.SIT_MATGRADE = 'Remanejado' THEN 'Remanejado.'
		ELSE MG.SIT_MATGRADE
	END AS SIT_MATGRADE
FROM LY_TURMA T INNER JOIN LY_MATRICULA M ON T.DISCIPLINA = M.DISCIPLINA
		AND T.TURMA = M.TURMA 
		AND T.ANO = M.ANO 
		AND T.SEMESTRE = M.SEMESTRE
	INNER JOIN LY_ALUNO A ON A.ALUNO = M.ALUNO
	INNER JOIN LY_MATGRADE MG ON MG.ALUNO = M.ALUNO
	INNER JOIN LY_GRADE_SERIE GS ON GS.ANO = M.ANO
		AND GS.GRADE_ID = MG.GRADE_ID
		AND GS.SEMESTRE = M.SEMESTRE
	INNER JOIN LY_HIST_FACULDADE HF ON HF.ALUNO = MG.ALUNO
	INNER JOIN LY_INSTITUICAO I ON HF.OUTRA_FACULDADE = I.OUTRA_FACULDADE
	INNER JOIN MUNICIPIO UM ON I.MUNICIPIO = UM.CODIGO
	INNER JOIN LY_PESSOA P ON A.PESSOA = P.PESSOA 
	LEFT JOIN  MUNICIPIO MU ON P.MUNICIPIO_NASC = MU.CODIGO               					
	INNER JOIN LY_CURSO C ON C.CURSO = GS.CURSO
	INNER JOIN LY_DISCIPLINA D  ON T.DISCIPLINA = D.DISCIPLINA
	LEFT JOIN  LY_PERIODO_LETIVO PL ON PL.ANO = M.ANO AND PL.PERIODO = M.SEMESTRE	
WHERE A.ALUNO = @p_aluno  AND  C.TIPO = @p_tipo 
-- AND SUBSTRING(M.DISCIPLINA,4,2) NOT IN ('01','04') -- SEM INFANTIL E MÉDIO
AND SUBSTRING(M.DISCIPLINA,4,2) NOT IN ('04') -- SEM INFANTIL
--AND (D.AREA_CONHECIMENTO = 'BASE NACIONAL COMUM' OR D.AREA_CONHECIMENTO = 'PARTE DIVERSIFICADA')

UNION all

SELECT DISTINCT A.ALUNO AS ALUNO_CODIGO, A.NOME_COMPL AS ALUNO_NOME, P.DT_NASC, 
	MU.NOME AS MUNIC_NASC, MU.UF_SIGLA AS UF_NASC, P.NACIONALIDADE,
	P.NOME_PAI, P.NOME_MAE, A.SIT_ALUNO,
	D.DISCIPLINA, D.NOME AS DISCIPLINA_NOME,	D.AREA_CONHECIMENTO,
	GS.CURSO, 
	I.NOME_COMP,
	UM.NOME,
	UM.UF_SIGLA,
	GS.TURNO, 
	GS.CURRICULO, 
	GS.SERIE, 
	GS.ANO,
	PL.DIAS_LETIVOS,
	M.NOTA_FINAL, 
	dbo.fnRelatFaltasBoletim_NewHist(A.ALUNO, T.DISCIPLINA, T.TURMA, T.ANO, T.SEMESTRE, null, M.SUBTURMA1, M.SUBTURMA2) AS FALTAS_ACUMULADAS,
	D.HORAS_AULA,
	CASE 
		WHEN MG.SIT_MATGRADE = 'Aprovado' THEN 'Aprovado'
		WHEN MG.SIT_MATGRADE = 'Matriculado' THEN 'Matriculado'
		WHEN MG.SIT_MATGRADE = 'Transf.Internamente' THEN 'Transf.Internamente'
		WHEN MG.SIT_MATGRADE = 'Remanejado' THEN 'Remanejado'
		WHEN MG.SIT_MATGRADE = 'Remanejado' THEN 'Remanejado'
		ELSE MG.SIT_MATGRADE
	END AS SIT_MATGRADE
FROM LY_TURMA T INNER JOIN LY_HISTMATRICULA M ON T.DISCIPLINA = M.DISCIPLINA
		AND T.TURMA = M.TURMA
		AND T.ANO = M.ANO
		AND T.SEMESTRE = M.SEMESTRE
	INNER JOIN LY_ALUNO A ON A.ALUNO = M.ALUNO 
	INNER JOIN LY_HIST_MATGRADE MG ON MG.ALUNO = M.ALUNO
	INNER JOIN LY_GRADE_SERIE GS ON GS.ANO = M.ANO
		AND GS.GRADE_ID = MG.GRADE_ID
		AND GS.SEMESTRE = M.SEMESTRE
	INNER JOIN LY_HIST_FACULDADE HF ON HF.ALUNO = MG.ALUNO
	INNER JOIN LY_INSTITUICAO I ON HF.OUTRA_FACULDADE = I.OUTRA_FACULDADE
	INNER JOIN MUNICIPIO UM ON I.MUNICIPIO = UM.CODIGO
	INNER JOIN LY_PESSOA P ON A.PESSOA = P.PESSOA 
	LEFT JOIN  MUNICIPIO MU on P.MUNICIPIO_NASC = MU.CODIGO
	INNER JOIN LY_CURSO C ON C.CURSO = GS.CURSO
	INNER JOIN LY_DISCIPLINA D ON T.DISCIPLINA = D.DISCIPLINA
	LEFT JOIN  LY_PERIODO_LETIVO PL ON PL.ANO = M.ANO AND PL.PERIODO = M.SEMESTRE						
WHERE A.ALUNO = @p_aluno  AND  C.TIPO = @p_tipo
	AND MG.SIT_MATGRADE IN ('Matriculado','Aprovado','Reprovado','Cancelado', 'Progressão Parcial')
	--AND SUBSTRING(M.DISCIPLINA,4,2) NOT IN ('01','04') -- SEM INFANTIL E MÉDIO
	AND SUBSTRING(M.DISCIPLINA,4,2) NOT IN ('04') -- SEM INFANTIL
	AND HF.ORDEM = M.ORDEM 
	AND M.SITUACAO_HIST <> 'Cancelado' -- Não pega as disciplinas que foram canceladas
	--AND (D.AREA_CONHECIMENTO = 'BASE NACIONAL COMUM' OR D.AREA_CONHECIMENTO = 'PARTE DIVERSIFICADA')

--SELECT * FROM #HIST

--DROP TABLE #SERIE
CREATE TABLE #SERIE(
SERIE VARCHAR(1)
)
INSERT INTO #SERIE VALUES
('1'),
('2'),
('3'),
('4'),
('5'),
('6'),
('7'),
('8'),
('9')

INSERT INTO #HIST (SERIE)
	SELECT *  FROM #SERIE S 
	WHERE S.SERIE NOT IN (SELECT H.SERIE FROM #HIST H)

SELECT 
ALUNO_CODIGO, 
ALUNO_NOME,
CONVERT(VARCHAR, DT_NASC,103) AS DT_NASC,
MUNIC_NASC,
UF_NASC, 
NACIONALIDADE,  
NOME_PAI, 
NOME_MAE, 
SIT_ALUNO,
DISCIPLINA, 
DISCIPLINA_NOME, 
AREA_CONHECIMENTO, 
CURSO,
UNIDADE,
UNIDADE_MUN,
UNIDADE_UF,
TURNO, 
CURRICULO, 
SERIE, 
ANO,
DIAS_LETIVOS, 
NOTA_FINAL,
FALTAS_ACUMULADAS, 
HORAS_AULA,
SIT_MATGRADE 
FROM #HIST-- ORDER BY ANO

END;

