USE [LYCEUM]
GO
/****** Object:  StoredProcedure [dbo].[Relat_NG_RecebimentosAMaior]    Script Date: 21/03/2022 07:40:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Relat_NG_RecebimentosAMaior]
(
@p_unid_resp VARCHAR(20),
--@p_unid_fisica VARCHAR(20),
@p_num_cobranca varchar(20),
@p_codigo_lanc VARCHAR(20),
@p_numero_evento varchar(4),
@p_aluno varchar(20),
@p_data_ini DATETIME,
@p_data_fim DATETIME
)
AS  
  
-- [INÍCIO]            
BEGIN


SET @p_unid_resp = ISNULL(@p_unid_resp, Null)
SET @p_aluno = ISNULL(@p_aluno, Null)
SET @p_num_cobranca = ISNULL(@p_num_cobranca, Null)
SET @p_codigo_lanc = ISNULL(@p_codigo_lanc, Null)
SET @p_numero_evento = ISNULL(@p_numero_evento, Null)


--IF @p_unid_resp = 'Nulo' 
--	SET @p_unid_resp = Null

SELECT 	
	Y.FACULDADE,
	X.UNIDADE_FISICA,
	A.COBRANCA,
	A.ALUNO,
	X.NOME_COMPL,
	FORMAT(C.DATA_DE_GERACAO, 'dd/MM/yyyy') as DATA_DE_GERACAO,
	--A.DT_GERACAO_COB,
	FORMAT(C.DATA_DE_VENCIMENTO, 'dd/MM/yyyy') as DATA_DE_VENCIMENTO,
	FORMAT(A.DATACONTAB, 'dd/MM/yyyy') as DATACONTAB,
	A.EVENTO_NUM,
	A.DESCRICAO_TIPO_OPERACAO,
	A.VALOR,
	A.CENTRO_DE_CUSTO,
	A.PRINCIP_COD_LANC
FROM AY_RESUMO_ATO A	
INNER JOIN LY_COBRANCA C	
ON A.COBRANCA=C.COBRANCA	
INNER JOIN LY_ALUNO X	
ON A.ALUNO=X.ALUNO	
INNER JOIN LY_CURSO Y	
ON A.CURSO=Y.CURSO	
LEFT JOIN AY_OPERACAO_IDS_LYCEUM OIL	
ON A.ID_OPERACAO=OIL.ID_OPERACAO	
WHERE A.EVENTO_NUM IN ('23')	
AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim	
AND A.ID_OPERACAO NOT IN (SELECT ID_OPERACAO_ORIGINAL FROM AY_OPERACAO_IDS_LYCEUM WHERE ID_OPERACAO_ORIGINAL IS NOT NULL AND  COBRANCA IN (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE EVENTO_NUM IN ('49') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim))	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('51') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('1023') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND (@p_num_cobranca IS NULL OR (@p_num_cobranca IS NOT NULL AND(A.COBRANCA = @p_num_cobranca)))
AND (@p_unid_resp IS NULL OR (@p_unid_resp  IS NOT NULL AND(Y.FACULDADE = @p_unid_resp)))
--AND (Y.FACULDADE <> 'FUNEV')
AND (@p_aluno IS NULL OR (@p_aluno  IS NOT NULL AND(A.ALUNO = @p_aluno)))
--AND A.COBRANCA='6159403'	
	
	
UNION ALL	
	
SELECT 	
	Y.FACULDADE,
	X.UNIDADE_FISICA,
	A.COBRANCA,
	A.ALUNO,
	X.NOME_COMPL,
	FORMAT(C.DATA_DE_GERACAO, 'dd/MM/yyyy') as DATA_DE_GERACAO,
	--A.DT_GERACAO_COB,
	FORMAT(C.DATA_DE_VENCIMENTO, 'dd/MM/yyyy') as DATA_DE_VENCIMENTO,
	FORMAT(A.DATACONTAB, 'dd/MM/yyyy') as DATACONTAB,
	A.EVENTO_NUM,
	A.DESCRICAO_TIPO_OPERACAO,
	A.VALOR,
	A.CENTRO_DE_CUSTO,
	A.PRINCIP_COD_LANC
	
	
FROM AY_RESUMO_ATO A	
INNER JOIN LY_COBRANCA C	
ON A.COBRANCA=C.COBRANCA	
INNER JOIN LY_ALUNO X	
ON A.ALUNO=X.ALUNO	
INNER JOIN LY_CURSO Y	
ON A.CURSO=Y.CURSO	
LEFT JOIN AY_OPERACAO_IDS_LYCEUM OIL	
ON A.ID_OPERACAO=OIL.ID_OPERACAO	
WHERE A.EVENTO_NUM IN ('63')	
AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('51') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('1063') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND (@p_num_cobranca IS NULL OR (@p_num_cobranca IS NOT NULL AND(A.COBRANCA = @p_num_cobranca)))
AND (@p_unid_resp IS NULL OR (@p_unid_resp  IS NOT NULL AND(Y.FACULDADE = @p_unid_resp)))
--AND (Y.FACULDADE <> 'FUNEV')
AND (@p_aluno IS NULL OR (@p_aluno  IS NOT NULL AND(A.ALUNO = @p_aluno)))
--AND A.COBRANCA='6159403'	
	
	
UNION ALL	
	
SELECT 	
	Y.FACULDADE,
	X.UNIDADE_FISICA,
	A.COBRANCA,
	A.ALUNO,
	X.NOME_COMPL,
	FORMAT(C.DATA_DE_GERACAO, 'dd/MM/yyyy') as DATA_DE_GERACAO,
	--A.DT_GERACAO_COB,
	FORMAT(C.DATA_DE_VENCIMENTO, 'dd/MM/yyyy') as DATA_DE_VENCIMENTO,
	FORMAT(A.DATACONTAB, 'dd/MM/yyyy') as DATACONTAB,
	A.EVENTO_NUM,
	A.DESCRICAO_TIPO_OPERACAO,
	A.VALOR,
	A.CENTRO_DE_CUSTO,
	A.PRINCIP_COD_LANC
	
	
FROM AY_RESUMO_ATO A	
INNER JOIN LY_COBRANCA C	
ON A.COBRANCA=C.COBRANCA	
INNER JOIN LY_ALUNO X	
ON A.ALUNO=X.ALUNO	
INNER JOIN LY_CURSO Y	
ON A.CURSO=Y.CURSO	
LEFT JOIN AY_OPERACAO_IDS_LYCEUM OIL	
ON A.ID_OPERACAO=OIL.ID_OPERACAO	
WHERE A.EVENTO_NUM IN ('49')	
AND OIL.ID_OPERACAO_ORIGINAL IN (SELECT ID_OPERACAO FROM AY_RESUMO_ATO WHERE EVENTO_NUM IN ('23','63') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA=A.COBRANCA AND EVENTO_NUM IN ('51') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA=A.COBRANCA AND EVENTO_NUM IN ('1023','1063') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND (@p_num_cobranca IS NULL OR (@p_num_cobranca IS NOT NULL AND(A.COBRANCA = @p_num_cobranca)))
AND (@p_unid_resp IS NULL OR (@p_unid_resp  IS NOT NULL AND(Y.FACULDADE = @p_unid_resp)))
--AND (Y.FACULDADE <> 'FUNEV')
AND (@p_aluno IS NULL OR (@p_aluno  IS NOT NULL AND(A.ALUNO = @p_aluno)))
--AND A.COBRANCA='6159403'	
	
--UNION ALL	
	
/*SELECT 	
	Y.FACULDADE,
	X.UNIDADE_FISICA,
	A.COBRANCA,
	A.ALUNO,
	X.NOME_COMPL,
	FORMAT(C.DATA_DE_GERACAO, 'dd/MM/yyyy') as DATA_DE_GERACAO,
	--A.DT_GERACAO_COB,
	FORMAT(C.DATA_DE_VENCIMENTO, 'dd/MM/yyyy') as DATA_DE_VENCIMENTO,
	FORMAT(A.DATACONTAB, 'dd/MM/yyyy') as DATACONTAB,
	A.EVENTO_NUM,
	A.DESCRICAO_TIPO_OPERACAO,
	A.VALOR,
	A.CENTRO_DE_CUSTO,
	A.PRINCIP_COD_LANC
FROM AY_RESUMO_ATO A	
INNER JOIN LY_COBRANCA C	
ON A.COBRANCA=C.COBRANCA	
INNER JOIN LY_ALUNO X	
ON A.ALUNO=X.ALUNO	
INNER JOIN LY_CURSO Y	
ON A.CURSO=Y.CURSO	
LEFT JOIN AY_OPERACAO_IDS_LYCEUM OIL	
ON A.ID_OPERACAO=OIL.ID_OPERACAO	
WHERE A.EVENTO_NUM IN ('24')	
AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim	
AND A.ID_OPERACAO NOT IN (SELECT ID_OPERACAO_ORIGINAL FROM AY_OPERACAO_IDS_LYCEUM WHERE ID_OPERACAO_ORIGINAL IS NOT NULL AND  COBRANCA IN (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE EVENTO_NUM IN ('49') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim))	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('51') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('1024') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND (@p_num_cobranca IS NULL OR (@p_num_cobranca IS NOT NULL AND(A.COBRANCA = @p_num_cobranca)))
AND (@p_unid_resp IS NULL OR (@p_unid_resp  IS NOT NULL AND(Y.FACULDADE = @p_unid_resp)))
AND (@p_aluno IS NULL OR (@p_aluno  IS NOT NULL AND(A.ALUNO = @p_aluno)))
--AND A.COBRANCA='6159403'	*/
	
	
--UNION ALL	
	
/*SELECT 	
	Y.FACULDADE,
	X.UNIDADE_FISICA,
	A.COBRANCA,
	A.ALUNO,
	X.NOME_COMPL,
	FORMAT(C.DATA_DE_GERACAO, 'dd/MM/yyyy') as DATA_DE_GERACAO,
	--A.DT_GERACAO_COB,
	FORMAT(C.DATA_DE_VENCIMENTO, 'dd/MM/yyyy') as DATA_DE_VENCIMENTO,
	FORMAT(A.DATACONTAB, 'dd/MM/yyyy') as DATACONTAB,
	A.EVENTO_NUM,
	A.DESCRICAO_TIPO_OPERACAO,
	A.VALOR,
	A.CENTRO_DE_CUSTO,
	A.PRINCIP_COD_LANC
	
	
FROM AY_RESUMO_ATO A	
INNER JOIN LY_COBRANCA C	
ON A.COBRANCA=C.COBRANCA	
INNER JOIN LY_ALUNO X	
ON A.ALUNO=X.ALUNO	
INNER JOIN LY_CURSO Y	
ON A.CURSO=Y.CURSO	
LEFT JOIN AY_OPERACAO_IDS_LYCEUM OIL	
ON A.ID_OPERACAO=OIL.ID_OPERACAO	
WHERE A.EVENTO_NUM IN ('27')	
AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim	
AND A.ID_OPERACAO NOT IN (SELECT ID_OPERACAO_ORIGINAL FROM AY_OPERACAO_IDS_LYCEUM WHERE ID_OPERACAO_ORIGINAL IS NOT NULL AND  COBRANCA IN (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE EVENTO_NUM IN ('49') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim))	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('51') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND NOT EXISTS (SELECT COBRANCA FROM AY_RESUMO_ATO WHERE COBRANCA =A.COBRANCA AND EVENTO_NUM IN ('1027') AND DATACONTAB BETWEEN @p_data_ini AND @p_data_fim)	
AND (@p_num_cobranca IS NULL OR (@p_num_cobranca IS NOT NULL AND(A.COBRANCA = @p_num_cobranca)))
AND (@p_unid_resp IS NULL OR (@p_unid_resp  IS NOT NULL AND(Y.FACULDADE = @p_unid_resp)))
AND (@p_aluno IS NULL OR (@p_aluno  IS NOT NULL AND(A.ALUNO = @p_aluno)))
--AND A.COBRANCA='6159403'	*/
END            
-- [FIM]