USE [LYCEUM]
GO
/****** Object:  StoredProcedure [dbo].[Relat_NG_UnidadeEnsino]    Script Date: 21/03/2022 08:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[Relat_NG_UnidadeEnsino]  
AS  
BEGIN  

	  SELECT NULL AS CODIGO, 'TODOS' AS DESCR
		 UNION
	 SELECT DISTINCT UNIDADE_ENS AS CODIGO, (UNIDADE_ENS + ' - ' + NOME_COMP) FROM LY_UNIDADE_ENSINO

END  
